/TP1/nbproject/private/
/TP1/build/
/TP1/TP1-2/build/
/TP1/TP1-2/nbproject/private/
/TP1/TP1-3/nbproject/private/
/REVISIONS/Simple Client Serveur/Serveur/nbproject/private/
/REVISIONS/Simple Client Serveur/Client/nbproject/private/
/REVISIONS/Simple Client Serveur/Serveur/build/
/REVISIONS/Simple Client Serveur/Client/build/
/TP1/TP1-3-Serveur/nbproject/private/
/TP1/TP1-3-Client/nbproject/private/
/TP1/TP1-3-Serveur/build/
/TP1/TP1-3-Client/build/
/TP1/TP1-1_1/nbproject/private/
/TP1/TP1-4/nbproject/private/
/TP1/TP1-41/nbproject/private/
/TP1/TP1-41/build/
/TP2/TP2-1/nbproject/private/
/TP2/TP2-1/build/
/TP2/TP2-2/nbproject/private/
/TP2/TP2-2/build/
/TP2/TP2-3/nbproject/private/
/TP2/TP2-3/build/
/TP2/TP2-4/nbproject/private/
/TP2/TP2-4/build/