<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AjoutLivre</servlet-name>
        <servlet-class>asupprimer.AjoutLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutMusique</servlet-name>
        <servlet-class>asupprimer.AjoutMusique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutFilm</servlet-name>
        <servlet-class>asupprimer.AjoutFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutMedia</servlet-name>
        <servlet-class>gestionMedia.AjoutMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediaList</servlet-name>
        <servlet-class>gestionMedia.MediaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inscription_connexion</servlet-name>
        <servlet-class>gestionClient.inscription_connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbonneeList</servlet-name>
        <servlet-class>gestionClient.AbonneeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>gestionClient.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherUnMedia</servlet-name>
        <servlet-class>gestionMedia.AfficherUnMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnregistrerEmprunt</servlet-name>
        <servlet-class>gestionEmprunt.EnregistrerEmprunt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherUnAbonnee</servlet-name>
        <servlet-class>gestionClient.AfficherUnAbonnee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherche</servlet-name>
        <servlet-class>recherche.Recherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetourEmprunt</servlet-name>
        <servlet-class>gestionEmprunt.RetourEmprunt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditerMedia</servlet-name>
        <servlet-class>gestionMedia.EditerMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmprunt</servlet-name>
        <servlet-class>gestionEmprunt.ListEmprunt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjoutLivre</servlet-name>
        <url-pattern>/AjoutLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutMusique</servlet-name>
        <url-pattern>/AjoutMusique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutFilm</servlet-name>
        <url-pattern>/AjoutFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutMedia</servlet-name>
        <url-pattern>/AjoutMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaList</servlet-name>
        <url-pattern>/MediaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inscription_connexion</servlet-name>
        <url-pattern>/inscription_connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbonneeList</servlet-name>
        <url-pattern>/AbonneeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherUnMedia</servlet-name>
        <url-pattern>/AfficherUnMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnregistrerEmprunt</servlet-name>
        <url-pattern>/EnregistrerEmprunt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherUnAbonnee</servlet-name>
        <url-pattern>/AfficherUnAbonnee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherche</servlet-name>
        <url-pattern>/Recherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetourEmprunt</servlet-name>
        <url-pattern>/RetourEmprunt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditerMedia</servlet-name>
        <url-pattern>/EditerMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmprunt</servlet-name>
        <url-pattern>/ListEmprunt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
